html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &.is-component {
    overflow: hidden;
  }
}

#app {
  height: 100%;

  &.is-component {
    overflow-y: hidden;

    .main-cnt {
      padding: 0;
      margin-top: 0;
      height: 100%;
      min-height: auto;
    }

    .headerWrapper {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1500;

      .container {
        padding: 0;
      }
    }
  }
}

a {
  color: #409eff;
  text-decoration: none;
}

code {
  padding: 0 4px;
  border: 1px solid #eaeefb;
  border-radius: 4px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hljs {
  line-height: 20px;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 10px 24px 18px 24px;
  border: solid 1px #eaeefb;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.main-cnt {
  margin-top: -80px;
  padding: 80px 0 340px;
  box-sizing: border-box;
  min-height: 100%;
}

#app {
  .page-container>section {
    width: 60%;
    margin: auto;

    &>h2 {
      font-size: 28px;
      margin: 0;
    }

    &>h3 {
      font-size: 22px;
    }

    &>h2,
    &>h3,
    &>h4,
    &>h5 {
      margin-top: 10px;
      font-weight: normal;

      a {
        display: none;
      }

      &:hover a {
        opacity: 0.4;
      }
    }

    &>p {
      padding: 10px 0;
      font-size: 16px;
      line-height: 30px;

      &>img[alt="welcome"] {
        width: 100%;
      }
    }

    &>ul {
      padding-left: 1.2em;
    }

    &>blockquote {
      margin: 10px 0;
      color: #666;
      border-left: 4px solid #ddd;
      padding-left: 20px;
      font-size: 14px;
    }

    &>p,
    &>ul,
    &>blockquote {
      code {
        font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
        margin-left: 5px;
        margin-right: 4px;
        border: 1px solid #ddd;
        background: #f6f6f6;
        padding: 3px;
        border-radius: 3px;
      }
    }
  }

  .description p {
    margin: auto;
    padding: 10px;
    font-size: 16px;
    color: #d3aec2;
    line-height: 30px;
  }

  .tip {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: #1b9ae4 5px solid;

    code {
      background-color: rgb(255, 255, 255);
      color: #445368;
    }
  }

  .warning {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: rgb(252, 122, 2) 5px solid;

    p {
      width: 100%;
    }

    code {
      background-color: rgba(255, 255, 255, 0.7);
      color: #445368;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 45px;
    line-height: 1.5em;

    th {
      text-align: left;
      white-space: nowrap;
      color: #909399;
      font-weight: 400;
    }

    td {
      color: #606266;
    }

    th,
    td {
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;

      &:first-child {
        padding-left: 10px;
      }
    }

    code {
      font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
      margin-left: 5px;
      margin-right: 4px;
      border: 1px solid #ddd;
      background: #f6f6f6;
      padding: 3px;
      border-radius: 3px;
    }
  }
}

@media (max-width: 1140px) {

  .container,
  .page-container {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .container,
  .page-container {
    padding: 0 20px;
  }

  #app.is-component .headerWrapper .container {
    padding: 0 12px;
  }
}